<div class="grid_3">
  <div class="container">
    <div class="breadcrumb1">
      <ul>
        <a href="<%= root_path %>"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">Family Details</li>
      </ul>
    </div>
    <%= render "form_loading.html.erb", locals: {f: "family" } %>
    <div class="services">
      <%= form_for @education, url: save_family_cohabitants_path, :method => "post" do |f| %>
	<div class="col-sm-12 padding0">
	  <div class="col-sm-3 paddingL0">
	    <div class="form-group">
	      <label for="has_father"> Has Father<span class="form-required" title="This field is required.">*</span></label>
	      <%= f.select :has_father, "<option value'=false' #{'selected' unless f.object.has_father}>No</option><option value='true' #{'selected' if f.object.has_father}>Yes</option>".html_safe, {}, class: "form-select"%>
	    </div>
	  </div>
	  
	  <div class="col-sm-3">
	    <div class="form-group">
	      <label for="has_mother"> Has Mother<span class="form-required" title="This field is required.">*</span></label>
	      <%= f.select :has_mother, "<option value'=false' #{'selected' unless f.object.has_father}>No</option><option value='true' #{'selected' if f.object.has_father}>Yes</option>".html_safe, {}, class: "form-select"%>
	    </div>
	  </div>
	  <div class="col-sm-6 ">
	    <div class="form-group">
	      <label for="cohabitant_family_parents_occupation"> Parents Occupation<span class="form-required" title="This field is required.">*</span></label>
	      <%= f.select :parents_occupation, options_for_select([ "BUSINESS", "PRIVATE SERVICE", "FARMER", "GOVERNMENT SERVICE"], f.object.parents_occupation || "BUSINESS"), {}, class: "form-select"%>
	    </div>
	  </div>
	</div>

	<div class="col-sm-12 padding0">
	  <div class="col-sm-3 paddingL0">
	    <div class="form-group">
	      <label for="cohabitant_family_brothers"> Brothers<span class="form-required" title="This field is required.">*</span></label>
	      <%= f.select :brothers, options_for_select([ "1", "2", "3", "4"], f.object.brothers || "1"), {}, class: "form-select"%>
	    </div>
	  </div>
	  <div class="col-sm-3">
	    <div class="form-group">
	      <label for="cohabitant_family_married_brothers">Married Brothers <Span class="form-required" title="This field is required.">*</span></label>
	      <%= f.select :married_brothers, options_for_select([ "1", "2", "3", "4"], f.object.married_brothers || "1"), {}, class: "form-select"%>
	    </div>
	  </div>
	
	  <div class="col-sm-3">
	    <div class="form-group">
	      <label for="cohabitant_family_sisters"> Sisters<span class="form-required" title="This field is required.">*</span></label>
	      <%= f.select :sisters, options_for_select([ "1", "2", "3", "4"], f.object.sisters || "1"), {}, class: "form-select"%>
	    </div>
	  </div>
	  <div class="col-sm-3">
	    <div class="form-group">
	      <label for="cohabitant_family_married_sisters">Married Sisters <Span class="form-required" title="This field is required.">*</span></label>
	      <%= f.select :married_sisters, options_for_select([ "1", "2", "3", "4"], f.object.married_sisters || "1"), {}, class: "form-select"%>
	    </div>
	  </div>
	</div>

	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="cohabitant_family_surnames_of_relatives">Surnames Of Relatives <Span class="form-required" title="This field is required.">*</span></label>
	      <%= f.text_field :surnames_of_relatives, autofocus: true , class: "form-text" , maxlength: "100", placeholder: "Surname Of Relatives ", onkeypress: "return (event.charCode >= 65 && event.charCode <= 90)||(event.charCode >= 97 && event.charCode <= 122) || event.charCode === 44 || event.charCode === 32" %>
	    </div>
	  </div>
	</div>

	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="cohabitant_family_native_district"> Native District<span class="form-required" title="This field is required.">*</span></label>
	      <%= f.text_field :native_district, autofocus: true , class: "form-text" , maxlength: "40", placeholder: "Native District", onkeypress: "return (event.charCode >= 65 && event.charCode <= 90)||(event.charCode >= 97 && event.charCode <= 122) || event.charCode === 44 || event.charCode === 32" %>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="cohabitant_family_native_taluka">Native Taluka <Span class="form-required" title="This field is required.">*</span></label>
	      <%= f.text_field :native_taluka, autofocus: true , class: "form-text" , maxlength: "40", placeholder: "Native Taluka", onkeypress: "return (event.charCode >= 65 && event.charCode <= 90)||(event.charCode >= 97 && event.charCode <= 122) || event.charCode === 44 || event.charCode === 32" %>
	    </div>
	  </div>
	</div>
	<div class="col-sm-12 padding0">
	  <div class="col-sm-6 paddingL0">
	    <div class="form-group">
	      <label for="cohabitant_family_family_wealth"> Family Wealth<span class="form-required" title="This field is required.">*</span></label>
	      <%= f.text_field :family_wealth, autofocus: true , class: "form-text" , maxlength: "40", placeholder: "Family Wealth ", onkeypress: "return (event.charCode >= 65 && event.charCode <= 90)||(event.charCode >= 97 && event.charCode <= 122) || event.charCode === 44 || event.charCode === 32" %>
	    </div>
	  </div>
	  <div class="col-sm-6">
	    <div class="form-group">
	      <label for="cohabitant_family_mamas_name">Mamas Name <Span class="form-required" title="This field is required.">*</span></label>
	      <%= f.text_field :mamas_name, autofocus: true , class: "form-text" , maxlength: "40", placeholder: "Mamas Name ", onkeypress: "return (event.charCode >= 65 && event.charCode <= 90)||(event.charCode >= 97 && event.charCode <= 122) || event.charCode === 44 || event.charCode === 32" %>
	    </div>
	  </div>
	</div>

	<div class="col-sm-12 padding0 ">
	  <div class="form-actions">
	    <input type="submit" id="edit-submit" name="op" value="Next" class="btn_1 submit">
	    <a href="/cohabitants/expectation" class="skipLink">Skip</a>
	  </div>
	</div>
      <%- end %>
      <div class="clearfix"> </div>
    </div>
  </div>
</div>

