<div class="grid_3">
  <div class="container">
    <div class="breadcrumb1">
      <ul>
        <a href="index.html"><i class="fa fa-home home_1"></i></a>
        <span class="divider">&nbsp;|&nbsp;</span>
        <li class="current-page">New Matches</li>
      </ul>
    </div>
    <div class="col-md-12 profile_left2">
      <div class="profile_top">
	<div class="clearfix"> </div>
	<%- @cohabitants.each do |cohabitant| %>
	<div class="jobs-item with-thumb col-sm-6">
	  <div class="thumb_top">
	    <div class="thumb"><a href="/cohabitants/<%= cohabitant.id%>"><img src="<%= cohabitant.profile_image %>" class="img-responsive" alt=""/></a></div>
	    <div class="jobs_right">
	      <h6 class="title"><a href="/cohabitants/<%= cohabitant.id%>"><%= cohabitant.last_name.upcase %> (2547189)</a></h6>
	      <ul class="login_details1">
		<li>Last Login : 5 days ago</li>
	      </ul>
	      <p class="description">30 years, <%= cohabitant.height %> | <span class="m_1">Reliogion</span> : <%= cohabitant.sub_cast || 'NA' %> | <span class="m_1">Education</span> : <%= cohabitant.cohabitant_education.try(:area) || 'NA' %> | <span class="m_1">Occupation</span> : <%= cohabitant.cohabitant_education.try(:occupation) || 'NA' %><br><a href="/cohabitants/<%= cohabitant.id%>" class="read-more">view full profile</a></p>
	    </div>
	    <div class="clearfix"> </div>
	  </div>
	  <div class="thumb_bottom">
	    <div class="clearfix"> </div>
	  </div>
	</div>
	<%- end %>	
      </div>
      <ul class="pagination">
        <li class="active"><a href="#">1</a></li>
	<li><a href="#">2</a></li>
	<li><a href="#">3</a></li>
	<li><a href="#">4</a></li>
      </ul>
    </div>
    <div class="clearfix"> </div>
  </div>
</div>
