<div class="grid_3">
  <div class="container">
    <div class="profile">
      <div class="col-md-12 profile_left">
	<div class="relative">
	  <h2>Profile Id : [&nbsp;<%= @cohabitant.last_name.capitalize %>&nbsp;] 254870</h2>
	  <div class="absolute nextBtn">Previous Next</div>
	</div>
	<div class="col_3">
	  <div class="col-sm-4 row_2">
	    <img src="<%= @cohabitant.photos.last.image.url%>" alt="Smiley face">
	    <div class="flexslider">
	      <ul class="slides">
		<li data-thumb="/assets/p1.jpg">
		  <img src="/assets/p1.jpg" />
		</li>
		<li data-thumb="/assets/p2.jpg">
		  <img src="/assets/p2.jpg" />
		</li>
		<li data-thumb="/assets/p3.jpg">
		  <img src="/assets/p3.jpg" />
		</li>
		<li data-thumb="/assets/p4.jpg">
		  <img src="/assets/p4.jpg" />
		</li>
	      </ul>
	    </div>
	  </div>
	  <div class="col-sm-8 row_1">
	    

	    <div class="col_4">
	      <div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
		<ul id="myTab" class="nav nav-tabs nav-tabs1" role="tablist">
		  <li role="presentation" class="active"><a href="#home" id="home-tab" role="tab" data-toggle="tab" aria-controls="home" aria-expanded="true">Personal Details</a></li>
		  <li role="presentation"><a href="#profile" role="tab" id="profile-tab" data-toggle="tab" aria-controls="profile">Family Details</a></li>
		  <li role="presentation"><a href="#horoscope" role="tab" id="horoscope-tab" data-toggle="tab" aria-controls="horoscope">Horoscope</a></li>
		  <li role="presentation"><a href="#profile1" role="tab" id="profile-tab1" data-toggle="tab" aria-controls="profile1">Expectation</a></li>
		</ul>
		<div id="myTabContent" class="tab-content">
		  <div role="tabpanel" class="tab-pane fade in active" id="home" aria-labelledby="home-tab">
		    <div class="basic_1">
		      <h3>Basics</h3>
		      <div class="col-md-6 basic_1-left">
			<table class="table_working_hours">
			  <tbody>
			    <tr class="opened">
			      <td class="day_label">Sub Caste :</td>
			      <td class="day_value"><%= @cohabitant.sub_cast.try(:capitalize)%></td>
			    </tr>
			    
			    <tr class="opened">
			      <td class="day_label">Marital Status :</td>
			      <td class="day_value"><%= @cohabitant.married_status.try(:capitalize) %></td>
			    </tr>
			    <tr class="opened">
			      <td class="day_label">Blood Group :</td>
			      <td class="day_value">B+</td>
			    </tr>
			    <tr class="opened">
			      <td class="day_label">Physical Disabilities :</td>
			      <td class="day_value closed"><span><%= @cohabitant.physical_disabilities.present? ? @cohabitant.physical_disabilities : "No" %></span></td>
			    </tr>
			  </tbody>
			</table>
			<%- unless current_user%>
			<ul class="login_details">
			  <li>Already a member? <%= link_to "Login Now", new_user_session_path %></li>
			  <li>If not a member? <%= link_to "Register Now", new_user_registration_path %></li>
			</ul>
			<%- end %>
		      </div>
		      <div class="col-md-6 basic_1-left">
			<table class="table_working_hours">
			  <tbody>
			    <tr class="opened">
			      <td class="day_label">Age / Height :</td>
			      <td class="day_value">28, 5ft 5in / <%= @cohabitant.height.present? ? "#{@cohabitant.height} cm" : "NA"  %></td>
			    </tr>
			    <tr class="opened">
			      <td class="day_label">Complexion :</td>
			      <td class="day_value"><%= @cohabitant.complexion.try(:capitalize)%></td>
			    </tr>
			    
			    <tr class="closed">
			      <td class="day_label">Diet :</td>
			      <td class="day_value closed"><span>Non-Veg</span></td>
			    </tr>
			  </tbody>
			</table>
		      </div>
		      <div class="clearfix"> </div>
		    </div>
		    
		    <div class="basic_1 basic_2">
		      <h3>Education</h3>
		      <div class="basic_1-left">
			<table class="table_working_hours">
			  <tbody>
			    <tr class="opened">
			      <td class="day_label">Education   :</td>
			      <td class="day_value"><%= @cohabitant.cohabitant_education.try(:area).try(:capitalize) || "NA" %></td>
			    </tr>
			    <tr class="opened">
			      <td class="day_label">Education Detail :</td>
			      <td class="day_value"><%= @cohabitant.cohabitant_education.try(:education).try(:capitalize) || "NA" %></td>
			    </tr>
			    <tr class="opened">
			      <td class="day_label">Occupation Detail :</td>
			      <td class="day_value closed"><span><%= @cohabitant.cohabitant_education.try(:occupation).try(:capitalize) || "NA" %></span></td>
			    </tr>
			    <tr class="opened">
			      <td class="day_label">Occupation City :</td>
			      <td class="day_value closed"><span><%= @cohabitant.cohabitant_education.try(:occupation_city).try(:capitalize) || "NA" %></span></td>
			    </tr>
			    <tr class="opened">
			      <td class="day_label">Anual Income :</td>
			      <td class="day_value closed"><span><%= @cohabitant.cohabitant_education.try(:income).try(:capitalize) || "NA" %></span></td>
			    </tr>
			  </tbody>
			</table>
		      </div>
		      <div class="clearfix"> </div>
		    </div>
		  </div>
		  <div role="tabpanel" class="tab-pane fade" id="profile" aria-labelledby="profile-tab">
		    <div class="basic_3">
		      <h4>Family Details</h4>
		      <div class="basic_1 basic_2">
			<div class="col-md-6 basic_1-left">
			  <table class="table_working_hours">
			    <tbody>
			      <tr class="opened">
				<td class="day_label">Father's Name :</td>
				<td class="day_value"><%= "Let" if @cohabitant.cohabitant_family.try(:has_father)%><%= @cohabitant.middle_name %> <%= @cohabitant.last_name %></td>
			      </tr>
			      <tr class="opened">
				<td class="day_label">Fathers Ocupation :</td>
				<td class="day_value"><%= @cohabitant.cohabitant_family.try(:parents_occupation) %></td>
			      </tr>
			      <tr class="opened">
				<td class="day_label">Brothers :</td>
				<td class="day_value"><%= @cohabitant.cohabitant_family.try(:brothers) %></td>
			      </tr>
			      <tr class="opened">
				<td class="day_label">Sisters :</td>
				<td class="day_value"><%= @cohabitant.cohabitant_family.try(:sisters) %></td>
			      </tr>
			      <tr class="opened">
				<td class="day_label">Surnames Of Relatives :</td>
				<td class="day_value"><%= @cohabitant.cohabitant_family.try(:surnames_of_relatives) %></td>
			      </tr>
			      <tr class="opened">
				<td class="day_label">Native District :</td>
				<td class="day_value"><%= @cohabitant.cohabitant_family.try(:native_district) %></td>
			      </tr>
			      <tr class="opened">
				<td class="day_label">Native Taluka :</td>
				<td class="day_value"><%= @cohabitant.cohabitant_family.try(:native_taluka) %></td>
			      </tr>
			      <tr class="opened">
				<td class="day_label">Family Wealth :</td>
				<td class="day_value"><%= @cohabitant.cohabitant_family.try(:family_wealth) %></td>
			      </tr>
			      <tr class="opened">
				<td class="day_label">Mamas Name :</td>
				<td class="day_value"><%= @cohabitant.cohabitant_family.try(:mamas_name) %></td>
			      </tr>
			    </tbody>
			  </table>
			</div>
		      </div>
		    </div>
		  </div>
		  <div role="tabpanel" class="tab-pane fade in" id="horoscope" aria-labelledby="horoscope-tab">
		    <div class="basic_3">
		      <h4>Horoscope</h4>
		      <div class="basic_1 basic_2">
			<div class="col-md-6 basic_1-left">
			  <table class="table_working_hours">
			    <tbody>
			      <tr class="opened">
				<td class="day_label">Time of Birth :</td>
				<td class="day_value"><%= @cohabitant.cohabitant_horoscop.try(:birth_time) %></td>
			      </tr>
			      <tr class="opened">
				<td class="day_label">Rashi :</td>
				<td class="day_value"><%= @cohabitant.cohabitant_horoscop.try(:rashi) || "NA" %></td>
			      </tr>
			      
			      <tr class="opened">
				<td class="day_label">Nadi :</td>
				<td class="day_value"><%= @cohabitant.cohabitant_horoscop.try(:nadi) || "NA" %></td>
			      </tr>
			      <tr class="opened">
				<td class="day_label">Gan :</td>
				<td class="day_value"><%= @cohabitant.cohabitant_horoscop.try(:gan) || "NA" %></td>
			      </tr>
			      <tr class="opened">
				<td class="day_label">Mangal :</td>
				<td class="day_value"><%= @cohabitant.cohabitant_horoscop.try(:mangal) || "NA" %></td>
			      </tr>
			    </tbody>
			  </table>
			</div>
			<div class="col-md-6 basic_1-left">
			  <table class="table_working_hours">
			    <tbody>
			      <tr class="opened">
				<td class="day_label">Birth Place :</td>
				<td class="day_value"><%= @cohabitant.cohabitant_horoscop.try(:birth_place) || "NA" %></td>
			      </tr>
			      <tr class="opened">
				<td class="day_label">Nakshtra :</td>
				<td class="day_value"><%= @cohabitant.cohabitant_horoscop.try(:nakshtra)  || "NA" %></td>
			      </tr>
			      <tr class="opened">
				<td class="day_label">Charan :</td>
				<td class="day_value"><%= @cohabitant.cohabitant_horoscop.try(:charan) || "NA" %></td>
			      </tr>
			      <tr class="opened">
				<td class="day_label">Devak :</td>
				<td class="day_value"><%= @cohabitant.cohabitant_horoscop.try(:devak) || "NA" %></td>
			      </tr>
			    </tbody>
			  </table>
			</div>
			<div class="clearfix"> </div>
		      </div>
		    </div>
		  </div>
		  <div role="tabpanel" class="tab-pane fade" id="profile1" aria-labelledby="profile-tab1">
		    <div class="basic_1 basic_2">
		      <div class="basic_1-left">
			<table class="table_working_hours">
			  <tbody>
			    <tr class="opened">
			      <td class="day_label">Cities   :</td>
			      <td class="day_value"><%= @cohabitant.cohabitant_expectation.try(:cities) %></td>
			    </tr>
			    <tr class="opened">
			      <td class="day_label"> Mangal  :</td>
			      <td class="day_value"><%= @cohabitant.cohabitant_expectation.try(:mangal) %></td>
			    </tr>
			    <tr class="opened">
			      <td class="day_label"> Caste  :</td>
			      <td class="day_value"><%= @cohabitant.cohabitant_expectation.try(:caste) %></td>
			    </tr>
			    <tr class="opened">
			      <td class="day_label">Age Difference   :</td>
			      <td class="day_value"><%= @cohabitant.cohabitant_expectation.try(:age_difference) %></td>
			    </tr>
			    <tr class="opened">
			      <td class="day_label">Min Height   :</td>
			      <td class="day_value"><%= @cohabitant.cohabitant_expectation.try(:min_height) %></td>
			    </tr>
			    <tr class="opened">
			      <td class="day_label">Divorcee  :</td>
			      <td class="day_value"><%= @cohabitant.cohabitant_expectation.try(:divorcee) %></td>
			    </tr>
			    <tr class="opened">
			      <td class="day_label">Occupation  :</td>
			      <td class="day_value"><%= @cohabitant.cohabitant_expectation.try(:occupation) %></td>
			    </tr>
			    <tr class="opened">
			      <td class="day_label">Education :</td>
			      <td class="day_value"><%= @cohabitant.cohabitant_expectation.try(:education) %></td>
			    </tr>
			    
			  </tbody>
			</table>
		      </div>
		    </div>
		  </div>
		</div>
	      </div>
	    </div>
	  </div>
	</div>
	<div class="clearfix"> </div>
      </div>
    </div>
  </div>
</div>
<div class="col-md-4 profile_right hide">
  <div class="newsletter">
    <form>
      <input type="text" name="ne" size="30" required="" placeholder="Enter Profile ID :">
      <input type="submit" value="Go">
    </form>
  </div>
  <%# render :partial => "similar_profile.html.erb" %>
</div>
<div class="clearfix"> </div>
</div>
