<!-- ============================  Navigation Start =========================== -->
<div class="navbar navbar-inverse-blue navbar">
  <!--<div class="navbar navbar-inverse-blue navbar-fixed-top">-->
  <div class="navbar-inner">
    <div class="container">
      <div>
	<a class="brand" href="/"><img src="/assets/logo.png" alt="logo" style="max-height:40px;"></a>
	<button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
	  <i class="fa fa-bars fa-2x"></i>
	</button>
      </div>
      <div class="pull-right navigationMenu">
        <nav class="navbar nav_bottom" role="navigation">
          <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header nav_2">
	    
	    <a class="navbar-brand" href="#"></a>
	  </div> 
	  <!-- Collect the nav links, forms, and other content for toggling -->
	  <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
	    <ul class="nav navbar-nav nav_1">
	      <li><a class="<%= 'active' if (request.path == '/cohabitants' && params[:gender] == 'female')%>" href="/cohabitants?gender=female">Brides</a></li>
	      <li><a class="<%= 'active' if (request.path == '/cohabitants' && params[:gender] == 'male')%>" href="/cohabitants?gender=male">Grooms</a></li>
	      <li>
		<a class="<%= 'active' if request.path == '/search'%>" href="/search">Search</a>
	      </li>
	      <%- if current_user.present? %><li ><%= link_to('Edit Details', "/cohabitants/personal") %> </li><%- end %>
	      <%- if current_user.present? %><li ><%= link_to('Logout', destroy_user_session_path, :method => :delete) %> </li><%- end %>
	    </ul>
	  </div><!-- /.navbar-collapse -->
	</nav>
      </div> <!-- end pull-right -->
      <div class="clearfix"> </div>
    </div> <!-- end container -->
  </div> <!-- end navbar-inner -->
</div> <!-- end navbar-inverse-blue -->
<!-- ============================  Navigation End ============================ -->
